.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #051622;
  padding: 0.5rem 2rem; 
  border-bottom: 2px solid #d6a774; 
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
}

.navbar-game {
  color: #1ba098;
  text-decoration: none;
  font-size: 1.5rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .navbar-game {background-color: #3e8e41;}
.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  font-size: 1.2rem;
  gap: 2rem;
}

.nav-item {
  margin-left: 1.5rem;
}

.nav-link {
  color: #1ba098;
  text-decoration: none;
  font-size: 1.5em; 
  transition: color 0.3s ease; 
  cursor: pointer;
}

.nav-link:hover {
  color: #13dac1; 
}

.nav-link.active {
  font-weight: bold; 
  border-bottom: 2px solid #1ba098; 
}


.top-banner {
  font-size: 1.2rem; 
  text-transform: uppercase; 
  font-weight: bold; 
  color: red; 
  background-color: #1e293b; 
  border-radius: 5px; 
  padding: 5px 10px; 
  margin: 0; 
  display: inline-block; 
}
